.grid-container {
	display: grid;
	width: 50%;
	grid-template-rows: repeat(20, 1fr);
	grid-template-columns: repeat(20, 1fr);
	gap: 5px;
	/* TODO: Remove this */
	/* border: 1px solid black; */
}

.grid-slot-link {
	display: inline;
	background-color: #666666;
	width: 3vh;
	height: 3vh;
	transition: background-color 1s cubic-bezier(0.45, 0.82, 0.165, 1),
		width 1s cubic-bezier(0.45, 0.82, 0.165, 1),
		height 1s cubic-bezier(0.45, 0.82, 0.165, 1),
		left 1s cubic-bezier(0.45, 0.82, 0.165, 1),
		top 1s cubic-bezier(0.45, 0.82, 0.165, 1);
}

.grid-slot-link:hover {
	background-color: #67c6ec;
	transition: none;
}
