#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

a.button {
	color: #000000;
	padding: 0.5rem;
}

a.button:hover {
	color: #3aa7f0;
}

.back_arrow_icon:hover {
	fill: #3aa7f0;
}
