#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

a {
	color: #ffffff;
	background-color: #3aa7f0;
}

a:hover {
	color: #0c354e;
}

.back_arrow_icon:hover {
	fill: #3aa7f0;
}
